doctype html
html
	title= content.meta.title
	meta(name="description" content=content.meta.meta_description)
	meta(name="keywords" content=content.meta.meta_tags)
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(property="og:title" content=content.meta.title)
	meta(property="og:description" content=content.meta.og_description)
	meta(property="og:url" content=content.meta.canonical)
	meta(property="og:image" content=content.meta.og_image)
	meta(property="og:type" content="website")
	meta(name="google-site-verification" content="D5X54m3ENQ0-IrjKMvzKoLIqhHqZT1RC3waXZ1XLfHk")
	link(href="/css/" + stylesheet + ".css?v="+revision.short type="text/css" rel="stylesheet")
	link(href=content.meta.favicon, type="image/png" rel="icon")
	script(src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js")
